<!DOCTYPE html>
<html lang="en">
<head>
  <title>Django CRUD Operations</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script> 
</head>
<body>
<div class="container">
<table class="table table-striped">
    <thead>
      <tr>
        <th>stop_id </th>
        <th>stop_code </th>
        <th>stop_name </th>
        <th>stop_desc </th>
      </tr>
    </thead>
    <tbody>
	{% for stop in page_obj %}  
      <tr>
        <td><a href="{% url 'display_gtfs_stopTimes'%}/{{stop.stop_id}}">{{stop.stop_id}}</a></td>
        <td>{{stop.stop_code }}</td>
		<td>{{stop.stop_name}}</td>
		<td>{{stop.stop_desc}}</td>
      </tr>
    {% endfor %} 
	</tbody>
</table>	
</div>
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
</body>
</html>