<!DOCTYPE html>
<html lang="en">
<head>
  <title>Django CRUD Operations</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script> 
</head>
<body>
<div class="container">
  <form>
    <select id="weekday" name="day" onchange="updateDayFilter()">
      <option value="">All</option>
      <option value="Weekday-01">Weekday</option>
      <option value="Saturday">Saturday</option>
      <option value="Sunday">Sunday</option>
    </select>
  </form>

  <script type="text/javascript">
    document.getElementById("weekday").addEventListener("change", function(event){
      event.preventDefault();
      let day = event.currentTarget.value;
      let new_dest = window.location.href.replace(window.location.search, "");
      new_dest = new_dest + "?day=" + day;
      window.location.replace(new_dest);
    });

    // select the current weekday
    urlSearchParams = new URLSearchParams(window.location.search);
    let day = urlSearchParams.get("day") || ""
    let options = document.getElementById("weekday").options
    for (let idx = 0; idx < options.length; idx++) {
        let option = options[idx];
        if (option.value === day) {
          options.selectedIndex = idx;
        }
    }
    
  </script>
<table class="table table-striped">
    <thead>
      <tr>
        <th>trip_id </th>
        <th>arrival_time </th>
        <th>departure_time </th>
        <th>stop_id </th>
        <th>stop_sequence </th>
      </tr>
    </thead>
    <tbody>
	{% for stopTimes in page_obj %}  
      <tr>
        <td>{{stopTimes.trip_id}}</td>
        <td>{{stopTimes.arrival_time }}</td>
		<td>{{stopTimes.departure_time}}</td>
		<td>{{stopTimes.stop_id}}</td>
        <td>{{stopTimes.stop_sequence}}</td>
      </tr>
    {% endfor %} 
	</tbody>
</table>	
</div>
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
</body>
</html>