


{% load static %}

{% block content %}
<div style=" text-align: center; margin-top: 20%;font-family: Arial; font-size: 30px;">
<p>Form to upload GTFS data</p>
</div>

<div style=" text-align: center; margin-top: 70px; font-family: Arial; ">
  <form  method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="file" name="myfile">
    <button type="submit">Upload</button>
  </form>
  <div style=" text-align: center; margin-top: 50px;font-family: Arial; font-size: 15px;">
    <p >Once the upload is finished you will receive a link to access stops</p>
  </div>
  {% if uploaded_file_url %}
    <p>File uploaded at: <a href="{{ uploaded_file_url }}">{{ uploaded_file_url }}</a></p>
    <p >Access the list of stops here: <a href="{% url 'display_gtfs_content'%}">List of stops</a></p>
  {% endif %}
</div>
  
{% endblock %}